h1 {
    color: orange;
}
li a {
    color:orange;
    font-size: 20px;
    font-style: initial;
}
body {
    background: white url("images/background.jpg") no-repeat;
    margin: 20px;
}
label {
    color: orange;
    font-size: 20px;
}
li {
    color: orange;
    font-size: 20px;
}
a {
    color: orange;
    font-size: 16px;
}