{% extends 'base.html' %}

<h1>Homepage</h1>
<html lang="en" dir="ltr">
  <head>

    {% block head %}
    <title>Home</title>
    {% endblock %}

  </head>
  <body>

    {% block body %}
      {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout'%}">logout</a></p>
        <p><a href="{% url 'password_reset' %}">reset password</a></p>
      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
      {% endif %}
    {% endblock %}

  </body>
</html>
